openapi: 3.0.3
info:
  title: Publishing Workflow Service API
  version: 0.1.0
  description: Baseline contract for the Publishing Workflow Service.
servers:
  - url: https://publishing-workflow-service.internal.v1
paths:
  /healthz:
    get:
      summary: Liveness probe endpoint.
      operationId: publishing_workflow_service_healthz
      responses:
        '200':
          description: Service healthy.
  /v1/publishing_workflow:
    get:
      summary: List publishing_workflow resources.
      operationId: list_publishing_workflow
      parameters:
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 200
            default: 50
        - name: cursor
          in: query
          schema:
            type: string
      responses:
        '200':
          description: List of resources.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublishingWorkflowListResponse'
    post:
      summary: Create publishing_workflow resource.
      operationId: create_publishing_workflow
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PublishingWorkflowWriteRequest'
      responses:
        '201':
          description: Created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublishingWorkflowResource'
  /v1/publishing_workflow/{resource_id}:
    parameters:
      - name: resource_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
    get:
      summary: Get publishing_workflow by id.
      operationId: get_publishing_workflow
      responses:
        '200':
          description: Resource found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublishingWorkflowResource'
        '404':
          description: Not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    patch:
      summary: Patch publishing_workflow by id.
      operationId: patch_publishing_workflow
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PublishingWorkflowWriteRequest'
      responses:
        '200':
          description: Resource updated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublishingWorkflowResource'
    delete:
      summary: Soft-delete publishing_workflow by id.
      operationId: delete_publishing_workflow
      responses:
        '204':
          description: Deleted.
components:
  schemas:
    PublishingWorkflowWriteRequest:
      type: object
      required: [name]
      properties:
        name:
          type: string
        description:
          type: string
        metadata:
          type: object
          additionalProperties: true
    PublishingWorkflowResource:
      type: object
      required: [id, name, status, created_at, updated_at, version]
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        description:
          type: string
        status:
          type: string
          enum: [active, inactive, deleted]
        version:
          type: integer
          minimum: 1
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
    PublishingWorkflowListResponse:
      type: object
      required: [items]
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/PublishingWorkflowResource'
        next_cursor:
          type: string
          nullable: true
    ErrorResponse:
      type: object
      required: [code, message]
      properties:
        code:
          type: string
        message:
          type: string
        request_id:
          type: string
