openapi: 3.0.3
info:
  title: Bulk Import Migration Service API
  version: 0.1.0
  description: Baseline contract for the Bulk Import Migration Service.
servers:
  - url: https://bulk-import-migration-service.internal.v1
paths:
  /healthz:
    get:
      summary: Liveness probe endpoint.
      operationId: bulk_import_migration_service_healthz
      responses:
        '200':
          description: Service healthy.
  /v1/bulk_import_migration:
    get:
      summary: List bulk_import_migration resources.
      operationId: list_bulk_import_migration
      parameters:
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 200
            default: 50
        - name: cursor
          in: query
          schema:
            type: string
      responses:
        '200':
          description: List of resources.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BulkImportMigrationListResponse'
    post:
      summary: Create bulk_import_migration resource.
      operationId: create_bulk_import_migration
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BulkImportMigrationWriteRequest'
      responses:
        '201':
          description: Created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BulkImportMigrationResource'
  /v1/bulk_import_migration/{resource_id}:
    parameters:
      - name: resource_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
    get:
      summary: Get bulk_import_migration by id.
      operationId: get_bulk_import_migration
      responses:
        '200':
          description: Resource found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BulkImportMigrationResource'
        '404':
          description: Not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    patch:
      summary: Patch bulk_import_migration by id.
      operationId: patch_bulk_import_migration
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BulkImportMigrationWriteRequest'
      responses:
        '200':
          description: Resource updated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BulkImportMigrationResource'
    delete:
      summary: Soft-delete bulk_import_migration by id.
      operationId: delete_bulk_import_migration
      responses:
        '204':
          description: Deleted.
components:
  schemas:
    BulkImportMigrationWriteRequest:
      type: object
      required: [name]
      properties:
        name:
          type: string
        description:
          type: string
        metadata:
          type: object
          additionalProperties: true
    BulkImportMigrationResource:
      type: object
      required: [id, name, status, created_at, updated_at, version]
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        description:
          type: string
        status:
          type: string
          enum: [active, inactive, deleted]
        version:
          type: integer
          minimum: 1
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
    BulkImportMigrationListResponse:
      type: object
      required: [items]
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/BulkImportMigrationResource'
        next_cursor:
          type: string
          nullable: true
    ErrorResponse:
      type: object
      required: [code, message]
      properties:
        code:
          type: string
        message:
          type: string
        request_id:
          type: string
