openapi: 3.0.3
info:
  title: Feature Pipeline Service API
  version: 0.1.0
  description: Baseline contract for the Feature Pipeline Service.
servers:
  - url: https://feature-pipeline-service.internal.v1
paths:
  /healthz:
    get:
      summary: Liveness probe endpoint.
      operationId: feature_pipeline_service_healthz
      responses:
        '200':
          description: Service healthy.
  /v1/feature_pipeline:
    get:
      summary: List feature_pipeline resources.
      operationId: list_feature_pipeline
      parameters:
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 200
            default: 50
        - name: cursor
          in: query
          schema:
            type: string
      responses:
        '200':
          description: List of resources.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FeaturePipelineListResponse'
    post:
      summary: Create feature_pipeline resource.
      operationId: create_feature_pipeline
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FeaturePipelineWriteRequest'
      responses:
        '201':
          description: Created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FeaturePipelineResource'
  /v1/feature_pipeline/{resource_id}:
    parameters:
      - name: resource_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
    get:
      summary: Get feature_pipeline by id.
      operationId: get_feature_pipeline
      responses:
        '200':
          description: Resource found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FeaturePipelineResource'
        '404':
          description: Not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    patch:
      summary: Patch feature_pipeline by id.
      operationId: patch_feature_pipeline
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FeaturePipelineWriteRequest'
      responses:
        '200':
          description: Resource updated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FeaturePipelineResource'
    delete:
      summary: Soft-delete feature_pipeline by id.
      operationId: delete_feature_pipeline
      responses:
        '204':
          description: Deleted.
components:
  schemas:
    FeaturePipelineWriteRequest:
      type: object
      required: [name]
      properties:
        name:
          type: string
        description:
          type: string
        metadata:
          type: object
          additionalProperties: true
    FeaturePipelineResource:
      type: object
      required: [id, name, status, created_at, updated_at, version]
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        description:
          type: string
        status:
          type: string
          enum: [active, inactive, deleted]
        version:
          type: integer
          minimum: 1
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
    FeaturePipelineListResponse:
      type: object
      required: [items]
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/FeaturePipelineResource'
        next_cursor:
          type: string
          nullable: true
    ErrorResponse:
      type: object
      required: [code, message]
      properties:
        code:
          type: string
        message:
          type: string
        request_id:
          type: string
