openapi: 3.0.3
info:
  title: Telemetry Playback Tracking Service API
  version: 0.1.0
  description: Baseline contract for the Telemetry Playback Tracking Service.
servers:
  - url: https://telemetry-playback-tracking-service.internal.v1
paths:
  /healthz:
    get:
      summary: Liveness probe endpoint.
      operationId: telemetry_playback_tracking_service_healthz
      responses:
        '200':
          description: Service healthy.
  /v1/telemetry_playback_tracking:
    get:
      summary: List telemetry_playback_tracking resources.
      operationId: list_telemetry_playback_tracking
      parameters:
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 200
            default: 50
        - name: cursor
          in: query
          schema:
            type: string
      responses:
        '200':
          description: List of resources.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TelemetryPlaybackTrackingListResponse'
    post:
      summary: Create telemetry_playback_tracking resource.
      operationId: create_telemetry_playback_tracking
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TelemetryPlaybackTrackingWriteRequest'
      responses:
        '201':
          description: Created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TelemetryPlaybackTrackingResource'
  /v1/telemetry_playback_tracking/{resource_id}:
    parameters:
      - name: resource_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
    get:
      summary: Get telemetry_playback_tracking by id.
      operationId: get_telemetry_playback_tracking
      responses:
        '200':
          description: Resource found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TelemetryPlaybackTrackingResource'
        '404':
          description: Not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    patch:
      summary: Patch telemetry_playback_tracking by id.
      operationId: patch_telemetry_playback_tracking
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TelemetryPlaybackTrackingWriteRequest'
      responses:
        '200':
          description: Resource updated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TelemetryPlaybackTrackingResource'
    delete:
      summary: Soft-delete telemetry_playback_tracking by id.
      operationId: delete_telemetry_playback_tracking
      responses:
        '204':
          description: Deleted.
components:
  schemas:
    TelemetryPlaybackTrackingWriteRequest:
      type: object
      required: [name]
      properties:
        name:
          type: string
        description:
          type: string
        metadata:
          type: object
          additionalProperties: true
    TelemetryPlaybackTrackingResource:
      type: object
      required: [id, name, status, created_at, updated_at, version]
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        description:
          type: string
        status:
          type: string
          enum: [active, inactive, deleted]
        version:
          type: integer
          minimum: 1
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
    TelemetryPlaybackTrackingListResponse:
      type: object
      required: [items]
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/TelemetryPlaybackTrackingResource'
        next_cursor:
          type: string
          nullable: true
    ErrorResponse:
      type: object
      required: [code, message]
      properties:
        code:
          type: string
        message:
          type: string
        request_id:
          type: string
