openapi: 3.0.3
info:
  title: Event Ingestion Backbone API
  version: 0.1.0
  description: Baseline contract for the Event Ingestion Backbone.
servers:
  - url: https://event-ingestion-backbone.internal.v1
paths:
  /healthz:
    get:
      summary: Liveness probe endpoint.
      operationId: event_ingestion_backbone_healthz
      responses:
        '200':
          description: Service healthy.
  /v1/event_ingestion:
    get:
      summary: List event_ingestion resources.
      operationId: list_event_ingestion
      parameters:
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 200
            default: 50
        - name: cursor
          in: query
          schema:
            type: string
      responses:
        '200':
          description: List of resources.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventIngestionListResponse'
    post:
      summary: Create event_ingestion resource.
      operationId: create_event_ingestion
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EventIngestionWriteRequest'
      responses:
        '201':
          description: Created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventIngestionResource'
  /v1/event_ingestion/{resource_id}:
    parameters:
      - name: resource_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
    get:
      summary: Get event_ingestion by id.
      operationId: get_event_ingestion
      responses:
        '200':
          description: Resource found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventIngestionResource'
        '404':
          description: Not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    patch:
      summary: Patch event_ingestion by id.
      operationId: patch_event_ingestion
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EventIngestionWriteRequest'
      responses:
        '200':
          description: Resource updated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventIngestionResource'
    delete:
      summary: Soft-delete event_ingestion by id.
      operationId: delete_event_ingestion
      responses:
        '204':
          description: Deleted.
components:
  schemas:
    EventIngestionWriteRequest:
      type: object
      required: [name]
      properties:
        name:
          type: string
        description:
          type: string
        metadata:
          type: object
          additionalProperties: true
    EventIngestionResource:
      type: object
      required: [id, name, status, created_at, updated_at, version]
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        description:
          type: string
        status:
          type: string
          enum: [active, inactive, deleted]
        version:
          type: integer
          minimum: 1
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
    EventIngestionListResponse:
      type: object
      required: [items]
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/EventIngestionResource'
        next_cursor:
          type: string
          nullable: true
    ErrorResponse:
      type: object
      required: [code, message]
      properties:
        code:
          type: string
        message:
          type: string
        request_id:
          type: string
