openapi: 3.0.3
info:
  title: Audit Log Service API
  version: 0.1.0
  description: Baseline contract for the Audit Log Service.
servers:
  - url: https://audit-log-service.internal.v1
paths:
  /healthz:
    get:
      summary: Liveness probe endpoint.
      operationId: audit_log_service_healthz
      responses:
        '200':
          description: Service healthy.
  /v1/audit_log:
    get:
      summary: List audit_log resources.
      operationId: list_audit_log
      parameters:
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 200
            default: 50
        - name: cursor
          in: query
          schema:
            type: string
      responses:
        '200':
          description: List of resources.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuditLogListResponse'
    post:
      summary: Create audit_log resource.
      operationId: create_audit_log
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AuditLogWriteRequest'
      responses:
        '201':
          description: Created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuditLogResource'
  /v1/audit_log/{resource_id}:
    parameters:
      - name: resource_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
    get:
      summary: Get audit_log by id.
      operationId: get_audit_log
      responses:
        '200':
          description: Resource found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuditLogResource'
        '404':
          description: Not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    patch:
      summary: Patch audit_log by id.
      operationId: patch_audit_log
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AuditLogWriteRequest'
      responses:
        '200':
          description: Resource updated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuditLogResource'
    delete:
      summary: Soft-delete audit_log by id.
      operationId: delete_audit_log
      responses:
        '204':
          description: Deleted.
components:
  schemas:
    AuditLogWriteRequest:
      type: object
      required: [name]
      properties:
        name:
          type: string
        description:
          type: string
        metadata:
          type: object
          additionalProperties: true
    AuditLogResource:
      type: object
      required: [id, name, status, created_at, updated_at, version]
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        description:
          type: string
        status:
          type: string
          enum: [active, inactive, deleted]
        version:
          type: integer
          minimum: 1
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
    AuditLogListResponse:
      type: object
      required: [items]
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/AuditLogResource'
        next_cursor:
          type: string
          nullable: true
    ErrorResponse:
      type: object
      required: [code, message]
      properties:
        code:
          type: string
        message:
          type: string
        request_id:
          type: string
