openapi: 3.0.3
info:
  title: Legal Hold Compliance Service API
  version: 0.1.0
  description: Baseline contract for the Legal Hold Compliance Service.
servers:
  - url: https://legal-hold-compliance-service.internal.v1
paths:
  /healthz:
    get:
      summary: Liveness probe endpoint.
      operationId: legal_hold_compliance_service_healthz
      responses:
        '200':
          description: Service healthy.
  /v1/legal_hold_compliance:
    get:
      summary: List legal_hold_compliance resources.
      operationId: list_legal_hold_compliance
      parameters:
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 200
            default: 50
        - name: cursor
          in: query
          schema:
            type: string
      responses:
        '200':
          description: List of resources.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LegalHoldComplianceListResponse'
    post:
      summary: Create legal_hold_compliance resource.
      operationId: create_legal_hold_compliance
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LegalHoldComplianceWriteRequest'
      responses:
        '201':
          description: Created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LegalHoldComplianceResource'
  /v1/legal_hold_compliance/{resource_id}:
    parameters:
      - name: resource_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
    get:
      summary: Get legal_hold_compliance by id.
      operationId: get_legal_hold_compliance
      responses:
        '200':
          description: Resource found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LegalHoldComplianceResource'
        '404':
          description: Not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    patch:
      summary: Patch legal_hold_compliance by id.
      operationId: patch_legal_hold_compliance
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LegalHoldComplianceWriteRequest'
      responses:
        '200':
          description: Resource updated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LegalHoldComplianceResource'
    delete:
      summary: Soft-delete legal_hold_compliance by id.
      operationId: delete_legal_hold_compliance
      responses:
        '204':
          description: Deleted.
components:
  schemas:
    LegalHoldComplianceWriteRequest:
      type: object
      required: [name]
      properties:
        name:
          type: string
        description:
          type: string
        metadata:
          type: object
          additionalProperties: true
    LegalHoldComplianceResource:
      type: object
      required: [id, name, status, created_at, updated_at, version]
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        description:
          type: string
        status:
          type: string
          enum: [active, inactive, deleted]
        version:
          type: integer
          minimum: 1
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
    LegalHoldComplianceListResponse:
      type: object
      required: [items]
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/LegalHoldComplianceResource'
        next_cursor:
          type: string
          nullable: true
    ErrorResponse:
      type: object
      required: [code, message]
      properties:
        code:
          type: string
        message:
          type: string
        request_id:
          type: string
