openapi: 3.0.3
info:
  title: GDPR Data Rights Service API
  version: 0.1.0
  description: Baseline contract for the GDPR Data Rights Service.
servers:
  - url: https://gdpr-data-rights-service.internal.v1
paths:
  /healthz:
    get:
      summary: Liveness probe endpoint.
      operationId: gdpr_data_rights_service_healthz
      responses:
        '200':
          description: Service healthy.
  /v1/gdpr_data_rights:
    get:
      summary: List gdpr_data_rights resources.
      operationId: list_gdpr_data_rights
      parameters:
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 200
            default: 50
        - name: cursor
          in: query
          schema:
            type: string
      responses:
        '200':
          description: List of resources.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GdprDataRightsListResponse'
    post:
      summary: Create gdpr_data_rights resource.
      operationId: create_gdpr_data_rights
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GdprDataRightsWriteRequest'
      responses:
        '201':
          description: Created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GdprDataRightsResource'
  /v1/gdpr_data_rights/{resource_id}:
    parameters:
      - name: resource_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
    get:
      summary: Get gdpr_data_rights by id.
      operationId: get_gdpr_data_rights
      responses:
        '200':
          description: Resource found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GdprDataRightsResource'
        '404':
          description: Not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    patch:
      summary: Patch gdpr_data_rights by id.
      operationId: patch_gdpr_data_rights
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GdprDataRightsWriteRequest'
      responses:
        '200':
          description: Resource updated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GdprDataRightsResource'
    delete:
      summary: Soft-delete gdpr_data_rights by id.
      operationId: delete_gdpr_data_rights
      responses:
        '204':
          description: Deleted.
components:
  schemas:
    GdprDataRightsWriteRequest:
      type: object
      required: [name]
      properties:
        name:
          type: string
        description:
          type: string
        metadata:
          type: object
          additionalProperties: true
    GdprDataRightsResource:
      type: object
      required: [id, name, status, created_at, updated_at, version]
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        description:
          type: string
        status:
          type: string
          enum: [active, inactive, deleted]
        version:
          type: integer
          minimum: 1
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
    GdprDataRightsListResponse:
      type: object
      required: [items]
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/GdprDataRightsResource'
        next_cursor:
          type: string
          nullable: true
    ErrorResponse:
      type: object
      required: [code, message]
      properties:
        code:
          type: string
        message:
          type: string
        request_id:
          type: string
