openapi: 3.0.3
info:
  title: Web Mobile BFF API
  version: 0.1.0
  description: Baseline contract for the Web Mobile BFF.
servers:
  - url: https://web-mobile-bff.internal.v1
paths:
  /healthz:
    get:
      summary: Liveness probe endpoint.
      operationId: web_mobile_bff_healthz
      responses:
        '200':
          description: Service healthy.
  /v1/web_mobile:
    get:
      summary: List web_mobile resources.
      operationId: list_web_mobile
      parameters:
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 200
            default: 50
        - name: cursor
          in: query
          schema:
            type: string
      responses:
        '200':
          description: List of resources.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebMobileListResponse'
    post:
      summary: Create web_mobile resource.
      operationId: create_web_mobile
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WebMobileWriteRequest'
      responses:
        '201':
          description: Created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebMobileResource'
  /v1/web_mobile/{resource_id}:
    parameters:
      - name: resource_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
    get:
      summary: Get web_mobile by id.
      operationId: get_web_mobile
      responses:
        '200':
          description: Resource found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebMobileResource'
        '404':
          description: Not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    patch:
      summary: Patch web_mobile by id.
      operationId: patch_web_mobile
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WebMobileWriteRequest'
      responses:
        '200':
          description: Resource updated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebMobileResource'
    delete:
      summary: Soft-delete web_mobile by id.
      operationId: delete_web_mobile
      responses:
        '204':
          description: Deleted.
components:
  schemas:
    WebMobileWriteRequest:
      type: object
      required: [name]
      properties:
        name:
          type: string
        description:
          type: string
        metadata:
          type: object
          additionalProperties: true
    WebMobileResource:
      type: object
      required: [id, name, status, created_at, updated_at, version]
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        description:
          type: string
        status:
          type: string
          enum: [active, inactive, deleted]
        version:
          type: integer
          minimum: 1
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
    WebMobileListResponse:
      type: object
      required: [items]
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/WebMobileResource'
        next_cursor:
          type: string
          nullable: true
    ErrorResponse:
      type: object
      required: [code, message]
      properties:
        code:
          type: string
        message:
          type: string
        request_id:
          type: string
