openapi: 3.0.3
info:
  title: User Library Service API
  version: 0.1.0
  description: Baseline contract for the User Library Service.
servers:
  - url: https://user-library-service.internal.v1
paths:
  /healthz:
    get:
      summary: Liveness probe endpoint.
      operationId: user_library_service_healthz
      responses:
        '200':
          description: Service healthy.
  /v1/user_library:
    get:
      summary: List user_library resources.
      operationId: list_user_library
      parameters:
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 200
            default: 50
        - name: cursor
          in: query
          schema:
            type: string
      responses:
        '200':
          description: List of resources.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserLibraryListResponse'
    post:
      summary: Create user_library resource.
      operationId: create_user_library
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserLibraryWriteRequest'
      responses:
        '201':
          description: Created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserLibraryResource'
  /v1/user_library/{resource_id}:
    parameters:
      - name: resource_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
    get:
      summary: Get user_library by id.
      operationId: get_user_library
      responses:
        '200':
          description: Resource found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserLibraryResource'
        '404':
          description: Not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    patch:
      summary: Patch user_library by id.
      operationId: patch_user_library
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserLibraryWriteRequest'
      responses:
        '200':
          description: Resource updated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserLibraryResource'
    delete:
      summary: Soft-delete user_library by id.
      operationId: delete_user_library
      responses:
        '204':
          description: Deleted.
components:
  schemas:
    UserLibraryWriteRequest:
      type: object
      required: [name]
      properties:
        name:
          type: string
        description:
          type: string
        metadata:
          type: object
          additionalProperties: true
    UserLibraryResource:
      type: object
      required: [id, name, status, created_at, updated_at, version]
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        description:
          type: string
        status:
          type: string
          enum: [active, inactive, deleted]
        version:
          type: integer
          minimum: 1
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
    UserLibraryListResponse:
      type: object
      required: [items]
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/UserLibraryResource'
        next_cursor:
          type: string
          nullable: true
    ErrorResponse:
      type: object
      required: [code, message]
      properties:
        code:
          type: string
        message:
          type: string
        request_id:
          type: string
