openapi: 3.0.3
info:
  title: Webhook Ingress Service API
  version: 0.1.0
  description: Baseline contract for the Webhook Ingress Service.
servers:
  - url: https://webhook-ingress-service.internal.v1
paths:
  /healthz:
    get:
      summary: Liveness probe endpoint.
      operationId: webhook_ingress_service_healthz
      responses:
        '200':
          description: Service healthy.
  /v1/webhook_ingress:
    get:
      summary: List webhook_ingress resources.
      operationId: list_webhook_ingress
      parameters:
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 200
            default: 50
        - name: cursor
          in: query
          schema:
            type: string
      responses:
        '200':
          description: List of resources.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhookIngressListResponse'
    post:
      summary: Create webhook_ingress resource.
      operationId: create_webhook_ingress
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WebhookIngressWriteRequest'
      responses:
        '201':
          description: Created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhookIngressResource'
  /v1/webhook_ingress/{resource_id}:
    parameters:
      - name: resource_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
    get:
      summary: Get webhook_ingress by id.
      operationId: get_webhook_ingress
      responses:
        '200':
          description: Resource found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhookIngressResource'
        '404':
          description: Not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    patch:
      summary: Patch webhook_ingress by id.
      operationId: patch_webhook_ingress
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WebhookIngressWriteRequest'
      responses:
        '200':
          description: Resource updated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhookIngressResource'
    delete:
      summary: Soft-delete webhook_ingress by id.
      operationId: delete_webhook_ingress
      responses:
        '204':
          description: Deleted.
components:
  schemas:
    WebhookIngressWriteRequest:
      type: object
      required: [name]
      properties:
        name:
          type: string
        description:
          type: string
        metadata:
          type: object
          additionalProperties: true
    WebhookIngressResource:
      type: object
      required: [id, name, status, created_at, updated_at, version]
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        description:
          type: string
        status:
          type: string
          enum: [active, inactive, deleted]
        version:
          type: integer
          minimum: 1
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
    WebhookIngressListResponse:
      type: object
      required: [items]
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/WebhookIngressResource'
        next_cursor:
          type: string
          nullable: true
    ErrorResponse:
      type: object
      required: [code, message]
      properties:
        code:
          type: string
        message:
          type: string
        request_id:
          type: string
