openapi: 3.0.3
info:
  title: Creator Analytics API API
  version: 0.1.0
  description: Baseline contract for the Creator Analytics API.
servers:
  - url: https://creator-analytics-api.internal.v1
paths:
  /healthz:
    get:
      summary: Liveness probe endpoint.
      operationId: creator_analytics_api_healthz
      responses:
        '200':
          description: Service healthy.
  /v1/creator_analytics:
    get:
      summary: List creator_analytics resources.
      operationId: list_creator_analytics
      parameters:
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 200
            default: 50
        - name: cursor
          in: query
          schema:
            type: string
      responses:
        '200':
          description: List of resources.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreatorAnalyticsListResponse'
    post:
      summary: Create creator_analytics resource.
      operationId: create_creator_analytics
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreatorAnalyticsWriteRequest'
      responses:
        '201':
          description: Created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreatorAnalyticsResource'
  /v1/creator_analytics/{resource_id}:
    parameters:
      - name: resource_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
    get:
      summary: Get creator_analytics by id.
      operationId: get_creator_analytics
      responses:
        '200':
          description: Resource found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreatorAnalyticsResource'
        '404':
          description: Not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    patch:
      summary: Patch creator_analytics by id.
      operationId: patch_creator_analytics
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreatorAnalyticsWriteRequest'
      responses:
        '200':
          description: Resource updated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreatorAnalyticsResource'
    delete:
      summary: Soft-delete creator_analytics by id.
      operationId: delete_creator_analytics
      responses:
        '204':
          description: Deleted.
components:
  schemas:
    CreatorAnalyticsWriteRequest:
      type: object
      required: [name]
      properties:
        name:
          type: string
        description:
          type: string
        metadata:
          type: object
          additionalProperties: true
    CreatorAnalyticsResource:
      type: object
      required: [id, name, status, created_at, updated_at, version]
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        description:
          type: string
        status:
          type: string
          enum: [active, inactive, deleted]
        version:
          type: integer
          minimum: 1
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
    CreatorAnalyticsListResponse:
      type: object
      required: [items]
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/CreatorAnalyticsResource'
        next_cursor:
          type: string
          nullable: true
    ErrorResponse:
      type: object
      required: [code, message]
      properties:
        code:
          type: string
        message:
          type: string
        request_id:
          type: string
