openapi: 3.0.3
info:
  title: Media Asset Registry Service API
  version: 0.1.0
  description: Baseline contract for the Media Asset Registry Service.
servers:
  - url: https://media-asset-registry-service.internal.v1
paths:
  /healthz:
    get:
      summary: Liveness probe endpoint.
      operationId: media_asset_registry_service_healthz
      responses:
        '200':
          description: Service healthy.
  /v1/media_asset_registry:
    get:
      summary: List media_asset_registry resources.
      operationId: list_media_asset_registry
      parameters:
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 200
            default: 50
        - name: cursor
          in: query
          schema:
            type: string
      responses:
        '200':
          description: List of resources.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MediaAssetRegistryListResponse'
    post:
      summary: Create media_asset_registry resource.
      operationId: create_media_asset_registry
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MediaAssetRegistryWriteRequest'
      responses:
        '201':
          description: Created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MediaAssetRegistryResource'
  /v1/media_asset_registry/{resource_id}:
    parameters:
      - name: resource_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
    get:
      summary: Get media_asset_registry by id.
      operationId: get_media_asset_registry
      responses:
        '200':
          description: Resource found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MediaAssetRegistryResource'
        '404':
          description: Not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    patch:
      summary: Patch media_asset_registry by id.
      operationId: patch_media_asset_registry
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MediaAssetRegistryWriteRequest'
      responses:
        '200':
          description: Resource updated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MediaAssetRegistryResource'
    delete:
      summary: Soft-delete media_asset_registry by id.
      operationId: delete_media_asset_registry
      responses:
        '204':
          description: Deleted.
components:
  schemas:
    MediaAssetRegistryWriteRequest:
      type: object
      required: [name]
      properties:
        name:
          type: string
        description:
          type: string
        metadata:
          type: object
          additionalProperties: true
    MediaAssetRegistryResource:
      type: object
      required: [id, name, status, created_at, updated_at, version]
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        description:
          type: string
        status:
          type: string
          enum: [active, inactive, deleted]
        version:
          type: integer
          minimum: 1
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
    MediaAssetRegistryListResponse:
      type: object
      required: [items]
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/MediaAssetRegistryResource'
        next_cursor:
          type: string
          nullable: true
    ErrorResponse:
      type: object
      required: [code, message]
      properties:
        code:
          type: string
        message:
          type: string
        request_id:
          type: string
