openapi: 3.0.3
info:
  title: Metadata Extraction Service API
  version: 0.1.0
  description: Baseline contract for the Metadata Extraction Service.
servers:
  - url: https://metadata-extraction-service.internal.v1
paths:
  /healthz:
    get:
      summary: Liveness probe endpoint.
      operationId: metadata_extraction_service_healthz
      responses:
        '200':
          description: Service healthy.
  /v1/metadata_extraction:
    get:
      summary: List metadata_extraction resources.
      operationId: list_metadata_extraction
      parameters:
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 200
            default: 50
        - name: cursor
          in: query
          schema:
            type: string
      responses:
        '200':
          description: List of resources.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MetadataExtractionListResponse'
    post:
      summary: Create metadata_extraction resource.
      operationId: create_metadata_extraction
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MetadataExtractionWriteRequest'
      responses:
        '201':
          description: Created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MetadataExtractionResource'
  /v1/metadata_extraction/{resource_id}:
    parameters:
      - name: resource_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
    get:
      summary: Get metadata_extraction by id.
      operationId: get_metadata_extraction
      responses:
        '200':
          description: Resource found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MetadataExtractionResource'
        '404':
          description: Not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    patch:
      summary: Patch metadata_extraction by id.
      operationId: patch_metadata_extraction
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MetadataExtractionWriteRequest'
      responses:
        '200':
          description: Resource updated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MetadataExtractionResource'
    delete:
      summary: Soft-delete metadata_extraction by id.
      operationId: delete_metadata_extraction
      responses:
        '204':
          description: Deleted.
components:
  schemas:
    MetadataExtractionWriteRequest:
      type: object
      required: [name]
      properties:
        name:
          type: string
        description:
          type: string
        metadata:
          type: object
          additionalProperties: true
    MetadataExtractionResource:
      type: object
      required: [id, name, status, created_at, updated_at, version]
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        description:
          type: string
        status:
          type: string
          enum: [active, inactive, deleted]
        version:
          type: integer
          minimum: 1
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
    MetadataExtractionListResponse:
      type: object
      required: [items]
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/MetadataExtractionResource'
        next_cursor:
          type: string
          nullable: true
    ErrorResponse:
      type: object
      required: [code, message]
      properties:
        code:
          type: string
        message:
          type: string
        request_id:
          type: string
