openapi: 3.0.3
info:
  title: Resume Continue Listening Service API
  version: 0.1.0
  description: Baseline contract for the Resume Continue Listening Service.
servers:
  - url: https://resume-continue-listening-service.internal.v1
paths:
  /healthz:
    get:
      summary: Liveness probe endpoint.
      operationId: resume_continue_listening_service_healthz
      responses:
        '200':
          description: Service healthy.
  /v1/resume_continue_listening:
    get:
      summary: List resume_continue_listening resources.
      operationId: list_resume_continue_listening
      parameters:
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 200
            default: 50
        - name: cursor
          in: query
          schema:
            type: string
      responses:
        '200':
          description: List of resources.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResumeContinueListeningListResponse'
    post:
      summary: Create resume_continue_listening resource.
      operationId: create_resume_continue_listening
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ResumeContinueListeningWriteRequest'
      responses:
        '201':
          description: Created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResumeContinueListeningResource'
  /v1/resume_continue_listening/{resource_id}:
    parameters:
      - name: resource_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
    get:
      summary: Get resume_continue_listening by id.
      operationId: get_resume_continue_listening
      responses:
        '200':
          description: Resource found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResumeContinueListeningResource'
        '404':
          description: Not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    patch:
      summary: Patch resume_continue_listening by id.
      operationId: patch_resume_continue_listening
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ResumeContinueListeningWriteRequest'
      responses:
        '200':
          description: Resource updated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResumeContinueListeningResource'
    delete:
      summary: Soft-delete resume_continue_listening by id.
      operationId: delete_resume_continue_listening
      responses:
        '204':
          description: Deleted.
components:
  schemas:
    ResumeContinueListeningWriteRequest:
      type: object
      required: [name]
      properties:
        name:
          type: string
        description:
          type: string
        metadata:
          type: object
          additionalProperties: true
    ResumeContinueListeningResource:
      type: object
      required: [id, name, status, created_at, updated_at, version]
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        description:
          type: string
        status:
          type: string
          enum: [active, inactive, deleted]
        version:
          type: integer
          minimum: 1
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
    ResumeContinueListeningListResponse:
      type: object
      required: [items]
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/ResumeContinueListeningResource'
        next_cursor:
          type: string
          nullable: true
    ErrorResponse:
      type: object
      required: [code, message]
      properties:
        code:
          type: string
        message:
          type: string
        request_id:
          type: string
