openapi: 3.0.3
info:
  title: Clip Snippet Service API
  version: 0.1.0
  description: Baseline contract for the Clip Snippet Service.
servers:
  - url: https://clip-snippet-service.internal.v1
paths:
  /healthz:
    get:
      summary: Liveness probe endpoint.
      operationId: clip_snippet_service_healthz
      responses:
        '200':
          description: Service healthy.
  /v1/clip_snippet:
    get:
      summary: List clip_snippet resources.
      operationId: list_clip_snippet
      parameters:
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 200
            default: 50
        - name: cursor
          in: query
          schema:
            type: string
      responses:
        '200':
          description: List of resources.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClipSnippetListResponse'
    post:
      summary: Create clip_snippet resource.
      operationId: create_clip_snippet
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ClipSnippetWriteRequest'
      responses:
        '201':
          description: Created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClipSnippetResource'
  /v1/clip_snippet/{resource_id}:
    parameters:
      - name: resource_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
    get:
      summary: Get clip_snippet by id.
      operationId: get_clip_snippet
      responses:
        '200':
          description: Resource found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClipSnippetResource'
        '404':
          description: Not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    patch:
      summary: Patch clip_snippet by id.
      operationId: patch_clip_snippet
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ClipSnippetWriteRequest'
      responses:
        '200':
          description: Resource updated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClipSnippetResource'
    delete:
      summary: Soft-delete clip_snippet by id.
      operationId: delete_clip_snippet
      responses:
        '204':
          description: Deleted.
components:
  schemas:
    ClipSnippetWriteRequest:
      type: object
      required: [name]
      properties:
        name:
          type: string
        description:
          type: string
        metadata:
          type: object
          additionalProperties: true
    ClipSnippetResource:
      type: object
      required: [id, name, status, created_at, updated_at, version]
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        description:
          type: string
        status:
          type: string
          enum: [active, inactive, deleted]
        version:
          type: integer
          minimum: 1
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
    ClipSnippetListResponse:
      type: object
      required: [items]
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/ClipSnippetResource'
        next_cursor:
          type: string
          nullable: true
    ErrorResponse:
      type: object
      required: [code, message]
      properties:
        code:
          type: string
        message:
          type: string
        request_id:
          type: string
