openapi: 3.0.3
info:
  title: Financial Ledger Reconciliation Service API
  version: 0.1.0
  description: Baseline contract for the Financial Ledger Reconciliation Service.
servers:
  - url: https://financial-ledger-reconciliation-service.internal.v1
paths:
  /healthz:
    get:
      summary: Liveness probe endpoint.
      operationId: financial_ledger_reconciliation_service_healthz
      responses:
        '200':
          description: Service healthy.
  /v1/financial_ledger_reconciliation:
    get:
      summary: List financial_ledger_reconciliation resources.
      operationId: list_financial_ledger_reconciliation
      parameters:
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 200
            default: 50
        - name: cursor
          in: query
          schema:
            type: string
      responses:
        '200':
          description: List of resources.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FinancialLedgerReconciliationListResponse'
    post:
      summary: Create financial_ledger_reconciliation resource.
      operationId: create_financial_ledger_reconciliation
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FinancialLedgerReconciliationWriteRequest'
      responses:
        '201':
          description: Created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FinancialLedgerReconciliationResource'
  /v1/financial_ledger_reconciliation/{resource_id}:
    parameters:
      - name: resource_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
    get:
      summary: Get financial_ledger_reconciliation by id.
      operationId: get_financial_ledger_reconciliation
      responses:
        '200':
          description: Resource found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FinancialLedgerReconciliationResource'
        '404':
          description: Not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    patch:
      summary: Patch financial_ledger_reconciliation by id.
      operationId: patch_financial_ledger_reconciliation
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FinancialLedgerReconciliationWriteRequest'
      responses:
        '200':
          description: Resource updated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FinancialLedgerReconciliationResource'
    delete:
      summary: Soft-delete financial_ledger_reconciliation by id.
      operationId: delete_financial_ledger_reconciliation
      responses:
        '204':
          description: Deleted.
components:
  schemas:
    FinancialLedgerReconciliationWriteRequest:
      type: object
      required: [name]
      properties:
        name:
          type: string
        description:
          type: string
        metadata:
          type: object
          additionalProperties: true
    FinancialLedgerReconciliationResource:
      type: object
      required: [id, name, status, created_at, updated_at, version]
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        description:
          type: string
        status:
          type: string
          enum: [active, inactive, deleted]
        version:
          type: integer
          minimum: 1
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
    FinancialLedgerReconciliationListResponse:
      type: object
      required: [items]
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/FinancialLedgerReconciliationResource'
        next_cursor:
          type: string
          nullable: true
    ErrorResponse:
      type: object
      required: [code, message]
      properties:
        code:
          type: string
        message:
          type: string
        request_id:
          type: string
