openapi: 3.0.3
info:
  title: Copyright Audio Fingerprinting Service API
  version: 0.1.0
  description: Baseline contract for the Copyright Audio Fingerprinting Service.
servers:
  - url: https://copyright-audio-fingerprinting-service.internal.v1
paths:
  /healthz:
    get:
      summary: Liveness probe endpoint.
      operationId: copyright_audio_fingerprinting_service_healthz
      responses:
        '200':
          description: Service healthy.
  /v1/copyright_audio_fingerprinting:
    get:
      summary: List copyright_audio_fingerprinting resources.
      operationId: list_copyright_audio_fingerprinting
      parameters:
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 200
            default: 50
        - name: cursor
          in: query
          schema:
            type: string
      responses:
        '200':
          description: List of resources.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CopyrightAudioFingerprintingListResponse'
    post:
      summary: Create copyright_audio_fingerprinting resource.
      operationId: create_copyright_audio_fingerprinting
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CopyrightAudioFingerprintingWriteRequest'
      responses:
        '201':
          description: Created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CopyrightAudioFingerprintingResource'
  /v1/copyright_audio_fingerprinting/{resource_id}:
    parameters:
      - name: resource_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
    get:
      summary: Get copyright_audio_fingerprinting by id.
      operationId: get_copyright_audio_fingerprinting
      responses:
        '200':
          description: Resource found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CopyrightAudioFingerprintingResource'
        '404':
          description: Not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    patch:
      summary: Patch copyright_audio_fingerprinting by id.
      operationId: patch_copyright_audio_fingerprinting
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CopyrightAudioFingerprintingWriteRequest'
      responses:
        '200':
          description: Resource updated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CopyrightAudioFingerprintingResource'
    delete:
      summary: Soft-delete copyright_audio_fingerprinting by id.
      operationId: delete_copyright_audio_fingerprinting
      responses:
        '204':
          description: Deleted.
components:
  schemas:
    CopyrightAudioFingerprintingWriteRequest:
      type: object
      required: [name]
      properties:
        name:
          type: string
        description:
          type: string
        metadata:
          type: object
          additionalProperties: true
    CopyrightAudioFingerprintingResource:
      type: object
      required: [id, name, status, created_at, updated_at, version]
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        description:
          type: string
        status:
          type: string
          enum: [active, inactive, deleted]
        version:
          type: integer
          minimum: 1
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
    CopyrightAudioFingerprintingListResponse:
      type: object
      required: [items]
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/CopyrightAudioFingerprintingResource'
        next_cursor:
          type: string
          nullable: true
    ErrorResponse:
      type: object
      required: [code, message]
      properties:
        code:
          type: string
        message:
          type: string
        request_id:
          type: string
