openapi: 3.0.3
info:
  title: Rss Aggregator And Ingestion Service API
  version: 0.1.0
  description: Baseline contract for the Rss Aggregator And Ingestion Service.
servers:
  - url: https://rss-aggregator-and-ingestion-service.internal.v1
paths:
  /healthz:
    get:
      summary: Liveness probe endpoint.
      operationId: rss_aggregator_and_ingestion_service_healthz
      responses:
        '200':
          description: Service healthy.
  /v1/rss_aggregator_and_ingestion:
    get:
      summary: List rss_aggregator_and_ingestion resources.
      operationId: list_rss_aggregator_and_ingestion
      parameters:
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 200
            default: 50
        - name: cursor
          in: query
          schema:
            type: string
      responses:
        '200':
          description: List of resources.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RssAggregatorAndIngestionListResponse'
    post:
      summary: Create rss_aggregator_and_ingestion resource.
      operationId: create_rss_aggregator_and_ingestion
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RssAggregatorAndIngestionWriteRequest'
      responses:
        '201':
          description: Created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RssAggregatorAndIngestionResource'
  /v1/rss_aggregator_and_ingestion/{resource_id}:
    parameters:
      - name: resource_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
    get:
      summary: Get rss_aggregator_and_ingestion by id.
      operationId: get_rss_aggregator_and_ingestion
      responses:
        '200':
          description: Resource found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RssAggregatorAndIngestionResource'
        '404':
          description: Not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    patch:
      summary: Patch rss_aggregator_and_ingestion by id.
      operationId: patch_rss_aggregator_and_ingestion
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RssAggregatorAndIngestionWriteRequest'
      responses:
        '200':
          description: Resource updated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RssAggregatorAndIngestionResource'
    delete:
      summary: Soft-delete rss_aggregator_and_ingestion by id.
      operationId: delete_rss_aggregator_and_ingestion
      responses:
        '204':
          description: Deleted.
components:
  schemas:
    RssAggregatorAndIngestionWriteRequest:
      type: object
      required: [name]
      properties:
        name:
          type: string
        description:
          type: string
        metadata:
          type: object
          additionalProperties: true
    RssAggregatorAndIngestionResource:
      type: object
      required: [id, name, status, created_at, updated_at, version]
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        description:
          type: string
        status:
          type: string
          enum: [active, inactive, deleted]
        version:
          type: integer
          minimum: 1
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
    RssAggregatorAndIngestionListResponse:
      type: object
      required: [items]
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/RssAggregatorAndIngestionResource'
        next_cursor:
          type: string
          nullable: true
    ErrorResponse:
      type: object
      required: [code, message]
      properties:
        code:
          type: string
        message:
          type: string
        request_id:
          type: string
