openapi: 3.0.3
info:
  title: Social Graph Service API
  version: 0.1.0
  description: Baseline contract for the Social Graph Service.
servers:
  - url: https://social-graph-service.internal.v1
paths:
  /healthz:
    get:
      summary: Liveness probe endpoint.
      operationId: social_graph_service_healthz
      responses:
        '200':
          description: Service healthy.
  /v1/social_graph:
    get:
      summary: List social_graph resources.
      operationId: list_social_graph
      parameters:
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 200
            default: 50
        - name: cursor
          in: query
          schema:
            type: string
      responses:
        '200':
          description: List of resources.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SocialGraphListResponse'
    post:
      summary: Create social_graph resource.
      operationId: create_social_graph
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SocialGraphWriteRequest'
      responses:
        '201':
          description: Created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SocialGraphResource'
  /v1/social_graph/{resource_id}:
    parameters:
      - name: resource_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
    get:
      summary: Get social_graph by id.
      operationId: get_social_graph
      responses:
        '200':
          description: Resource found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SocialGraphResource'
        '404':
          description: Not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    patch:
      summary: Patch social_graph by id.
      operationId: patch_social_graph
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SocialGraphWriteRequest'
      responses:
        '200':
          description: Resource updated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SocialGraphResource'
    delete:
      summary: Soft-delete social_graph by id.
      operationId: delete_social_graph
      responses:
        '204':
          description: Deleted.
components:
  schemas:
    SocialGraphWriteRequest:
      type: object
      required: [name]
      properties:
        name:
          type: string
        description:
          type: string
        metadata:
          type: object
          additionalProperties: true
    SocialGraphResource:
      type: object
      required: [id, name, status, created_at, updated_at, version]
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        description:
          type: string
        status:
          type: string
          enum: [active, inactive, deleted]
        version:
          type: integer
          minimum: 1
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
    SocialGraphListResponse:
      type: object
      required: [items]
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/SocialGraphResource'
        next_cursor:
          type: string
          nullable: true
    ErrorResponse:
      type: object
      required: [code, message]
      properties:
        code:
          type: string
        message:
          type: string
        request_id:
          type: string
