openapi: 3.0.3
info:
  title: Likes Reactions Service API
  version: 0.1.0
  description: Baseline contract for the Likes Reactions Service.
servers:
  - url: https://likes-reactions-service.internal.v1
paths:
  /healthz:
    get:
      summary: Liveness probe endpoint.
      operationId: likes_reactions_service_healthz
      responses:
        '200':
          description: Service healthy.
  /v1/likes_reactions:
    get:
      summary: List likes_reactions resources.
      operationId: list_likes_reactions
      parameters:
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 200
            default: 50
        - name: cursor
          in: query
          schema:
            type: string
      responses:
        '200':
          description: List of resources.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LikesReactionsListResponse'
    post:
      summary: Create likes_reactions resource.
      operationId: create_likes_reactions
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LikesReactionsWriteRequest'
      responses:
        '201':
          description: Created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LikesReactionsResource'
  /v1/likes_reactions/{resource_id}:
    parameters:
      - name: resource_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
    get:
      summary: Get likes_reactions by id.
      operationId: get_likes_reactions
      responses:
        '200':
          description: Resource found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LikesReactionsResource'
        '404':
          description: Not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    patch:
      summary: Patch likes_reactions by id.
      operationId: patch_likes_reactions
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LikesReactionsWriteRequest'
      responses:
        '200':
          description: Resource updated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LikesReactionsResource'
    delete:
      summary: Soft-delete likes_reactions by id.
      operationId: delete_likes_reactions
      responses:
        '204':
          description: Deleted.
components:
  schemas:
    LikesReactionsWriteRequest:
      type: object
      required: [name]
      properties:
        name:
          type: string
        description:
          type: string
        metadata:
          type: object
          additionalProperties: true
    LikesReactionsResource:
      type: object
      required: [id, name, status, created_at, updated_at, version]
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        description:
          type: string
        status:
          type: string
          enum: [active, inactive, deleted]
        version:
          type: integer
          minimum: 1
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
    LikesReactionsListResponse:
      type: object
      required: [items]
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/LikesReactionsResource'
        next_cursor:
          type: string
          nullable: true
    ErrorResponse:
      type: object
      required: [code, message]
      properties:
        code:
          type: string
        message:
          type: string
        request_id:
          type: string
