openapi: 3.0.3
info:
  title: Ad Decision Service API
  version: 0.1.0
  description: Baseline contract for the Ad Decision Service.
servers:
  - url: https://ad-decision-service.internal.v1
paths:
  /healthz:
    get:
      summary: Liveness probe endpoint.
      operationId: ad_decision_service_healthz
      responses:
        '200':
          description: Service healthy.
  /v1/ad_decision:
    get:
      summary: List ad_decision resources.
      operationId: list_ad_decision
      parameters:
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 200
            default: 50
        - name: cursor
          in: query
          schema:
            type: string
      responses:
        '200':
          description: List of resources.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdDecisionListResponse'
    post:
      summary: Create ad_decision resource.
      operationId: create_ad_decision
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AdDecisionWriteRequest'
      responses:
        '201':
          description: Created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdDecisionResource'
  /v1/ad_decision/{resource_id}:
    parameters:
      - name: resource_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
    get:
      summary: Get ad_decision by id.
      operationId: get_ad_decision
      responses:
        '200':
          description: Resource found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdDecisionResource'
        '404':
          description: Not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    patch:
      summary: Patch ad_decision by id.
      operationId: patch_ad_decision
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AdDecisionWriteRequest'
      responses:
        '200':
          description: Resource updated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdDecisionResource'
    delete:
      summary: Soft-delete ad_decision by id.
      operationId: delete_ad_decision
      responses:
        '204':
          description: Deleted.
components:
  schemas:
    AdDecisionWriteRequest:
      type: object
      required: [name]
      properties:
        name:
          type: string
        description:
          type: string
        metadata:
          type: object
          additionalProperties: true
    AdDecisionResource:
      type: object
      required: [id, name, status, created_at, updated_at, version]
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        description:
          type: string
        status:
          type: string
          enum: [active, inactive, deleted]
        version:
          type: integer
          minimum: 1
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
    AdDecisionListResponse:
      type: object
      required: [items]
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/AdDecisionResource'
        next_cursor:
          type: string
          nullable: true
    ErrorResponse:
      type: object
      required: [code, message]
      properties:
        code:
          type: string
        message:
          type: string
        request_id:
          type: string
