openapi: 3.0.3
info:
  title: AI Transcription Service API
  version: 0.1.0
  description: Baseline contract for the AI Transcription Service.
servers:
  - url: https://ai-transcription-service.internal.v1
paths:
  /healthz:
    get:
      summary: Liveness probe endpoint.
      operationId: ai_transcription_service_healthz
      responses:
        '200':
          description: Service healthy.
  /v1/ai_transcription:
    get:
      summary: List ai_transcription resources.
      operationId: list_ai_transcription
      parameters:
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 200
            default: 50
        - name: cursor
          in: query
          schema:
            type: string
      responses:
        '200':
          description: List of resources.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AiTranscriptionListResponse'
    post:
      summary: Create ai_transcription resource.
      operationId: create_ai_transcription
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AiTranscriptionWriteRequest'
      responses:
        '201':
          description: Created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AiTranscriptionResource'
  /v1/ai_transcription/{resource_id}:
    parameters:
      - name: resource_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
    get:
      summary: Get ai_transcription by id.
      operationId: get_ai_transcription
      responses:
        '200':
          description: Resource found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AiTranscriptionResource'
        '404':
          description: Not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    patch:
      summary: Patch ai_transcription by id.
      operationId: patch_ai_transcription
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AiTranscriptionWriteRequest'
      responses:
        '200':
          description: Resource updated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AiTranscriptionResource'
    delete:
      summary: Soft-delete ai_transcription by id.
      operationId: delete_ai_transcription
      responses:
        '204':
          description: Deleted.
components:
  schemas:
    AiTranscriptionWriteRequest:
      type: object
      required: [name]
      properties:
        name:
          type: string
        description:
          type: string
        metadata:
          type: object
          additionalProperties: true
    AiTranscriptionResource:
      type: object
      required: [id, name, status, created_at, updated_at, version]
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        description:
          type: string
        status:
          type: string
          enum: [active, inactive, deleted]
        version:
          type: integer
          minimum: 1
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
    AiTranscriptionListResponse:
      type: object
      required: [items]
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/AiTranscriptionResource'
        next_cursor:
          type: string
          nullable: true
    ErrorResponse:
      type: object
      required: [code, message]
      properties:
        code:
          type: string
        message:
          type: string
        request_id:
          type: string
