openapi: 3.0.3
info:
  title: Content Moderation Trust And Safety Service API
  version: 0.1.0
  description: Baseline contract for the Content Moderation Trust And Safety Service.
servers:
  - url: https://content-moderation-trust-and-safety-service.internal.v1
paths:
  /healthz:
    get:
      summary: Liveness probe endpoint.
      operationId: content_moderation_trust_and_safety_service_healthz
      responses:
        '200':
          description: Service healthy.
  /v1/content_moderation_trust_and_safety:
    get:
      summary: List content_moderation_trust_and_safety resources.
      operationId: list_content_moderation_trust_and_safety
      parameters:
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 200
            default: 50
        - name: cursor
          in: query
          schema:
            type: string
      responses:
        '200':
          description: List of resources.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContentModerationTrustAndSafetyListResponse'
    post:
      summary: Create content_moderation_trust_and_safety resource.
      operationId: create_content_moderation_trust_and_safety
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ContentModerationTrustAndSafetyWriteRequest'
      responses:
        '201':
          description: Created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContentModerationTrustAndSafetyResource'
  /v1/content_moderation_trust_and_safety/{resource_id}:
    parameters:
      - name: resource_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
    get:
      summary: Get content_moderation_trust_and_safety by id.
      operationId: get_content_moderation_trust_and_safety
      responses:
        '200':
          description: Resource found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContentModerationTrustAndSafetyResource'
        '404':
          description: Not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    patch:
      summary: Patch content_moderation_trust_and_safety by id.
      operationId: patch_content_moderation_trust_and_safety
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ContentModerationTrustAndSafetyWriteRequest'
      responses:
        '200':
          description: Resource updated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContentModerationTrustAndSafetyResource'
    delete:
      summary: Soft-delete content_moderation_trust_and_safety by id.
      operationId: delete_content_moderation_trust_and_safety
      responses:
        '204':
          description: Deleted.
components:
  schemas:
    ContentModerationTrustAndSafetyWriteRequest:
      type: object
      required: [name]
      properties:
        name:
          type: string
        description:
          type: string
        metadata:
          type: object
          additionalProperties: true
    ContentModerationTrustAndSafetyResource:
      type: object
      required: [id, name, status, created_at, updated_at, version]
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        description:
          type: string
        status:
          type: string
          enum: [active, inactive, deleted]
        version:
          type: integer
          minimum: 1
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
    ContentModerationTrustAndSafetyListResponse:
      type: object
      required: [items]
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/ContentModerationTrustAndSafetyResource'
        next_cursor:
          type: string
          nullable: true
    ErrorResponse:
      type: object
      required: [code, message]
      properties:
        code:
          type: string
        message:
          type: string
        request_id:
          type: string
